* {
  margin: 0;
}

/* ESTILIZAÇÃO DO MODAL */
/* CONTAINER DO MODAL */
.Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #2e00e8;
  border-radius: 15px;
  animation: fadeIn 0.3s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* MODAL DE ADICIONAL PRODUTO*/
.ScreenModalAdcProd {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 500px;
  background: #fff;
  padding: 20px;
  color: black;
}
.PainelModalAdcProd {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.PainelModalAdcProd h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 2rem 0;
  text-align: center;
}
.InputModalAdcProd {
  width: 96%;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
/* FIM DO MODAL DE ADICIONAL PRODUTO*/

/* INICIO DO MODAL DE LISTA DE PRODUTOS*/
.ScreenModalListProd {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 20px;
  width: 80%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.PainelModalListProd {
  flex: 2;
  background: #0040992b;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.TableModalListProd {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
/* FIM DO MODAL DE LISTA DE PRODUTOS*/

.ContainerMerc {
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #00258a 0%, #0134a0 50%, #0e63ed 100%);
  font-family: Arial, sans-serif;
}

.ImgMerc {
  width: 330px;
  height: 250px;
}

.ScrollContainer {
  display: flex;
  justify-content: end;
  width: 81%;
  white-space: nowrap;
  padding: 3px;
  gap: 10px;
  margin-bottom: 10px;
}

.Screen {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 20px;
  width: 80%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.RightPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.LeftPanel {
  flex: 2;
  background: #0040992b;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.LeftPanel h2 {
  padding-bottom: 10px;
}

.SelectMerc {
  padding: 11px;
  border: 2px solid #536ffc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    border-color: #0056b3;
  }

  &:focus {
    border-color: #383efa;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
}

.Btn {
  padding: 12px;
  background-color: #004199;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #0056b3;
  }
}

.TableMerc {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.Th {
  background: #0056b3;
  width: 1700px;
  color: white;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.TdC {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  border: 1px solid #000;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.Td {
  padding: 10px;
  text-align: left;
  border: 1px solid #000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.InputMerc {
  width: 96%;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.TotalMerc {
  position: fixed;
  bottom: 3%;
  right: 80%;
  background-color: #044299e0;
  color: white;
  padding: 15px 25px;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
